<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rocks.happydozen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_happydozen"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="rocks.happydozen.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rocks.happydozen.activities.AddActivity"
            android:label="@string/add_activity" >
        </activity>
        <activity
            android:name="rocks.happydozen.activities.EditActivity"
            android:label="@string/edit_activity" >
        </activity>
        <activity
            android:name="rocks.happydozen.activities.GalleryActivity"
            android:label="@string/gallery_activity" >
        </activity>

        <provider
            android:name="rocks.happydozen.database.CollectionsContentProvider"
            android:authorities="rocks.happydozen.provider"
            android:exported="false" >
        </provider>

        <activity
            android:name="rocks.happydozen.activities.AddImage"
            android:label="@string/title_activity_add_image" >
        </activity>
    </application>

</manifest>